<div>
  <h3 ng-show="locationData.name">
    Today's Weather in {{locationData.name}}, {{locationData.region}}
  </h3>
  <h5>Today's date: {{formatDate(locationData.localtime)}}</h5>
  <span>Current Temp: {{formatTemp(weatherData.temp_f)}}</span>
  <img
    ng-src="{{weatherData.condition.icon}}"
    alt="{{weatherData.condition.text}}"
  />
  <span>Feels Like: {{formatTemp(weatherData.feelslike_f)}} </span>
</div>

<h5>Daily Forecast</h5>
<div ng-repeat="forecast in dailyForecast">
  <div
    style="margin-top: 10px"
    ng-repeat="forecast in dailyForecast.forecastday"
  >
    Day: {{formatDate(forecast.date)}}
    <br />
    <div>High: {{formatTemp(forecast.day.maxtemp_f)}}</div>
    <div>Low: {{formatTemp(forecast.day.mintemp_f)}}</div>
  </div>
</div>


<a href="#/main">Back to search</a>